{% extends '_layouts/base.twig' %}

{% set sectionList = craft.entries()
	.section('services')
	.all() 
%}

{% block content %}

<div class="container-fluid position-relative p-0" id="home">
	<div id="header-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
		<div class="carousel-inner">
			<div class="carousel-item active">
				<div class="w-100 height-banner" style="width: 100vw;" alt="Image"></div>
				<div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
					<div class="p-3" style="max-width: 900px;">
						<h5 class="text-white text-uppercase mb-3">{{ entry.bannerSubtitle }}</h5>
						<h1 class="display-1 text-white mb-md-4">{{ entry.bannerTitle }}</h1>
						<a href="#contact" class="btn btn-outline-light py-md-3 px-md-5">Contact Us</a>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>

<div class="container-fluid py-5" id="about">
	<div class="container py-5">
		<div class="row">
			<div class="col-lg-7 col-12">
				{% include "_includes/section_title.twig" with { data: {
					class: '',
					title: entry.aboutTitle,
					subtitle: 'About Us',
				}} only %}
				<p class="mb-4">{{ entry.aboutSummary|raw }}</p>
			</div>
			<div class="col-lg-5 col-12">
				<div class="text-center">
					<img class="img-fluid mb-3" src="{{siteUrl}}assets/img/logo_telco_prev_ui.png">
				</div>
				{# yang perlu diganti #}
				<div class="text-center text-uppercase">
					<h1 class="mb-0 fs-1 fw-bold">Telco One Point</h1>
				</div>
				{# end #}
			</div>
		</div>
	</div>
</div>
<!-- About End -->



<!-- Service Start -->
<div class="container-fluid py-5" id="services">
	<div class="container py-5">
		{% include "_includes/section_title.twig" with { data: {
			class: 'text-center mx-auto',
			title: entry.serviceTitle,
			subtitle: 'Our Services',
		}} only %}
		{% include "_includes/services_item.twig" with { data : {
			serviceList: sectionList,
		}} only %} 
	</div>
</div>
<!-- Service End -->


{% set phoneNumber = siteInfo.telepon.format('e164') %}
{% set contactListInfo = [
	{
		icon: "bi-telephone-fill",
		title: "Call to ask any question",
		data: phoneNumber
	},
	{
		icon: "bi-envelope-at",
		title: "Email to get free quote",
		data: siteInfo.email
	},
	{
		icon: "bi-geo-alt-fill",
		title: "Location",
		data: siteInfo.location
	}
] %}


<!-- Contact us Start -->
<div class="container-fluid py-5" id="contact">
	<div class="container py-5">
		{% include "_includes/section_title.twig" with { data: {
			class: 'text-center mx-auto',
			title: entry.contactTitle,
			subtitle: 'Contact Us',
		}} only %}
		<div class="row">
			<div class="col-lg-6 mb-5 mb-lg-0">
				<div class="text-center">
					<img class="img-fluid mb-3" src="{{siteUrl}}assets/img/logo_telco_prev_ui.png">
				</div>
				<div class="text-center text-uppercase">
					<h1 class="mb-0 fs-1 fw-bold">Telco One Point</h1>
				</div>
			</div>
			<div class="col-lg-6">
				{% for item in contactListInfo %}
					<div class="d-flex mb-4 mt-2">
						<div class=" bg-colors d-flex align-items-center justify-content-center rounded-3"
							style="width: 60px; height: 60px;">
							<i class="{{ item.icon }} text-white fs-4 p-5"></i>
						</div>
						<div class="ps-4">
							<h4 class="fw-semi-bold">{{ item.title }}</h4>
							<p class="text-colors mb-0 h5 fw-medium">{{ item.data }}</p>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
<!-- Contact Us End -->

{% endblock %}