{% extends '_layouts/base.twig' %}

{% set sectionList = craft.entries()
	.section('services')
	.all() 
%}



{% block content %}

<div class="container-fluid position-relative p-0" data-aos="fade-in" id="home">
	<div id="header-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
		<div class="carousel-inner">
			<div class="carousel-item active">
				<div class="w-100 height-banner" style="width: 100vw;" alt="Image"></div>
				<div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
					<div class="p-3" data-aos="fade-down" data-aos-duration="1000"
					 data-aos-easing="ease-in-out" data-aos-once="true" style="max-width: 900px;">
						<h5 class="text-white text-uppercase mb-3">{{ entry.bannerSubtitle }}</h5>
						<h1 class="display-1 text-white mb-md-4">{{ entry.bannerTitle }}</h1>
						<a href="#contact" class="btn btn-outline-light py-md-3 px-md-5 ">Contact Us</a>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>

<div class="container-fluid py-5" id="about">
	<div class="container py-5">
		<div class="row">
			<div class="col-lg-7 col-12" data-aos="fade-right" data-aos-duration="2000" data-aos-easing="ease-in-out" data-aos-once="true">
				{% include "_includes/section_title.twig" with { data: {
					class: 'animate__animated animate__fadeInUp',
					title: entry.aboutTitle,
					subtitle: 'About Us',
				}} only %}
				<p class="mb-4">{{ entry.aboutSummary|raw }}</p>
			</div>
			<div class="col-lg-5 col-12" data-aos="fade-left" data-aos-duration="2000" data-aos-easing="ease-in-out" data-aos-once="true">
				<div class="text-center">
					<img class="img-fluid mb-3" src="{{siteUrl}}assets/img/logo_telco_prev_ui.png">
				</div>
				{# yang perlu diganti #}
				<div class="text-center text-uppercase">
					<h1 class="mb-0 fs-1 fw-bold">Telco One Point</h1>
				</div>
				{# end #}
			</div>
		</div>
	</div>
</div>
<!-- About End -->



<!-- Service Start -->
<div class="container-fluid py-5" id="services" style="background-color:">
	<div class="container py-5" data-aos="fade-down" data-aos-duration="2000" data-aos-easing="ease-in-out" data-aos-once="true">
		{% include "_includes/section_title.twig" with { data: {
			class: 'text-center mx-auto',
			title: entry.serviceTitle,
			subtitle: 'Our Services',
		}} only %}
		{% include "_includes/services_item.twig" with { data : {
			serviceList: sectionList,
		}} only %} 
	</div>
</div>
<!-- Service End -->


{% set phoneNumber = siteInfo.telepon.format('e164') %}
{% set contactListInfo = [
	{
		icon: "bi-telephone-fill",
		title: "Call to ask any question",
		data: phoneNumber
	},
	{
		icon: "bi-envelope-at",
		title: "Email to get free quote",
		data: siteInfo.email
	},
	{
		icon: "bi-geo-alt-fill",
		title: "Location",
		data: siteInfo.location
	}
] %}


<!-- Partner Section Start -->
<div class="container-fluid py-5">
	<div class="container">
		<div class="mx-auto text-center text-uppercase">
			<h4 class="fw-bold header-colors">
				Our Partners
			</h4>
		</div>
		<div class="owl-carousel vendor-carousel align-items-center my-5 cursor-pointer">
			<div>
				<img src="https://im3-img.indosatooredoo.com/iohassets/images/icons/logo-ioh.svg"/>
			</div>	
			<div>
				<img src="https://www.telkomsel.com/sites/default/files/mainlogo-2022-rev.png"/>
			</div>	
			<div>
				<img src="https://d17e22l2uh4h4n.cloudfront.net/corpweb/pub-xlaxiata/2019-03/xl-logo.png"/>
			</div>	
			<div>
				<img src="https://consumer.huawei.com/etc/designs/huawei-cbg-site/clientlib-campaign-v4/common-v4/images/logo.svg"/>
			</div>	
			<div>
				<img src="https://www.goamt.com/wp-content/uploads/2015/07/Ericsson_Horizontal_logo_blue.jpg"/>
			</div>	
			<div>
				<img src="https://www.nokia.com/themes/custom/onenokia_reskin/logo.svg"/>
			</div>	
			<div>
				<img src="https://pluspng.com/img-png/zte-logo-png-zte-logo-image-3000.png"/>
			</div>	
		</div>
	</div>
</div>
<!-- Partner Section End -->

<!-- Contact us Start -->
<div class="container-fluid py-5" id="contact">
	<div class="container py-5">
		<div data-aos="fade-down" data-aos-duration="2000" data-aos-easing="ease-in-out" data-aos-once="true">
		{% include "_includes/section_title.twig" with { data: {
			class: 'text-center mx-auto',
			title: entry.contactTitle,
			subtitle: 'Contact Us',
		}} only %}
		</div>
		<div class="row">
			<div class="col-lg-6 mb-5 mb-lg-0">
				<div class="text-center" data-aos="fade-down" data-aos-duration="2000" data-aos-easing="ease-in-out" data-aos-once="true">
					<img class="img-fluid mb-3" src="{{siteUrl}}assets/img/logo_telco_prev_ui.png">
				</div>
				<div class="text-center text-uppercase" data-aos="fade-up" data-aos-duration="2000" data-aos-easing="ease-in-out" data-aos-once="true">
					<h1 class="mb-0 fs-1 fw-bold">Telco One Point</h1>
				</div>
			</div>
			<div class="col-lg-6">
				{% for key, item in contactListInfo %}
					<div class="d-flex mb-4 mt-2" data-aos="fade-up" data-aos-duration="{{ key + 1 }}000" data-aos-easing="ease-in-out" data-aos-once="true">
						<div class=" bg-colors d-flex align-items-center justify-content-center rounded-3"
							style="width: 60px; height: 60px;">
							<i class="{{ item.icon }} text-white fs-4 p-5"></i>
						</div>
						<div class="ps-4">
							<h4 class="fw-semi-bold">{{ item.title }}</h4>
							<p class="text-colors mb-0 h5 fw-medium">{{ item.data }}</p>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
<!-- Contact Us End -->

{% endblock %}